#login-form {
    width: 400px;
}

md-toolbar {
    background-color: #525252 !important;
}

.nav-header {
    margin-top: 5px;
    font-size: 36px;
}

#logout-btn {
    height: 20px !important;
}


.time-buttons {
    /* background-color: #d6d6d6; */
    font-size: 14px;
    color: cornflowerblue;
    padding: 0px;
    margin: 0px;
    height: 30px;
    width: 30px;
}

.edit-btns {
    color: darkgray;
}

.edit-btns:hover {
    color: gray;
}

.info-card {
    width: 600px;
}
