<div ng-controller="CommentsController as vm">

    <!-- COMMENTS -->
    <md-card>
        <h3>Notes</h3>
        <p>Make a note about what you did on this day</p>
        <input type="text" ng-model="vm.userService.newComment.comment">
        <button ng-click="vm.postComment()">clicky clicky</button>
        <ul>
            <li ng-repeat="comment in vm.userService.datePie.comments">
                <div ng-hide="comment.beingEdited">
                    {{comment.comment.comment}}
                    <md-button ng-click="comment.beingEdited = true">Edit</md-button>
                    <md-button ng-click="vm.deleteComment($index)">Delete</md-button>
                </div>
    
                <input ng-model="comment.comment.comment" ng-show="comment.beingEdited" ng-value="comment.comment.comment">
                <md-button ng-show="comment.beingEdited" ng-click="vm.updateComment($index, comment.comment.comment)">update</md-button>
                <md-button ng-show="comment.beingEdited" ng-click="comment.beingEdited = false">Cancel</md-button>
            </li>
        </ul>
    </md-card>
    <!-- END COMMENTS -->

</div>