
<md-content layout="row" layout-align="start center">
    
    <md-nav-bar aria-label="navbar" flex>
        <span flex="5"></span>
        <h1 class="nav-header" flex="none">Last Weather Yesterday</h1>
        <md-nav-item aria-label="dashboard" md-nav-href="/#!dashboard">dashboard</md-nav-item>
        <md-nav-item flex aria-label="about" md-nav-href="/#!about">Info</md-nav-item>
      
        <h3 flex="none" class="nav-header">Hello {{vm.userService.userObject.username}}</h3>
        <md-button  id="logout-btn" ng-click="vm.userService.logout()">Log Out</md-button>
        <span flex="5"></span>
    </md-nav-bar>

    

</md-content>




