
<md-nav-bar aria-label="navbar">

    <md-nav-header>
        <h1>Last Weather Yesterday</h1>
    </md-nav-header>
    <md-nav-item aria-label="dashboard" md-nav-href="/#!dashboard">dashboard</md-nav-item>
    <md-nav-item aria-label="about" md-nav-href="/#!about">About</md-nav-item>
    <md-nav-header>
        <h1>Hello {{vm.userService.userObject.username}}</h1>
    </md-nav-header>
 
    <md-button class="btn btn-default" ng-click="vm.userService.logout()">Log Out</md-button>

</md-nav-bar>

