<md-content>
    <div ng-include="'views/partials/nav.html'"></div>
</md-content>

<md-content layout-padding flex="50">
    <h2>My zipcodes</h2>
    <table>
        <thead>
            <th>Zip code</th>
            <th>City/Town</th>
            <th>Tracking Since</th>
        </thead>
        <tbody>
            <tr ng-repeat="zip in vm.userService.zipcodes.list">
                <td> {{zip.weatherData.zipcode}} </td>
                <td> {{zip.weatherData.weather[0].name}} </td>
                <td> {{zip.startTrackDate}} </td>
                <!-- <td>
                    <button ng-click></button>
                </td> -->
            </tr>
        </tbody>
    </table>
</md-content>

<md-content layout-padding>
    <div id="dialogContainer">
        <md-button class="md-primary md-raised" ng-click="vm.showAddzipDialog($event)">
            Add Zip Code
        </md-button>
    </div>
</md-content>

<div style="visibility: hidden">
    <div class="md-dialog-container" id="myDialog">
        <md-dialog layout-padding="">
            <h2>Add a zipcode</h2>
            <label for="zipcode">Enter a zipcode you wish to track</label>
            <input type="text" id="zipcode" ng-model="vm.userService.newZip.zipcode">
            <button ng-click="vm.userService.submitZip()">Submit</button>
        </md-dialog>
    </div>
</div>