<div ng-init="vm.rerouteOnRefresh()"></div>

<div ng-include="'views/partials/nav.html'"></div>

<md-content layout layout-xs="column" layout-align="center start" >
   
    <md-content flex="20" id="text-data">
        
        <md-card>
            <md-card-content flex="none">
                <div layout>
                    <h3 flex="70">{{vm.userService.selectedLocation.location}}</h3>
                    <md-button ng-click="vm.goBack()">Back</md-button>
                </div>
                <div layout>
                    <h3>Select a date:</h3>
                    <md-datepicker ng-model="vm.userService.selectedDate.date" ng-change="vm.bakeDatePie()" md-placeholder="Enter date" md-min-date="vm.minDate" md-max-date="vm.today"></md-datepicker>
                </div>
            </md-card-content>
        </md-card>

        <md-card id="sunrise-sunset">
            <md-card-content flex="none">
                <p><strong>Date:</strong> {{vm.userService.datePie.date.date}}</p>
                <p><strong>Sunrise:</strong> {{vm.userService.datePie.date.sunrise}}</p>
                <p><strong>Sunset:</strong> {{vm.userService.datePie.date.sunset}}</p>
            </md-card-content>
        </md-card>

        <md-card>
            <md-card-content flex="none">
                <h4> {{vm.userService.timeSlice.dt.slice(vm.userService.timeSlice.dt.indexOf(',') + 2)}} </h4>
                <div>
                    <strong>General:</strong>
                    <div ng-repeat="item in vm.userService.timeSlice.weather"> {{item.description}} </div>
                </div>
            </md-card-content>
        </md-card>

        <md-card>
            <md-card-content flex="none" layout-padding>
                <p> <strong>Temperature:</strong> {{vm.userService.timeSlice.main.temp}}&deg;F </p>
                <p> <strong>Pressure:</strong> {{vm.userService.timeSlice.main.pressure}} hPa </p>
                <p> <strong>Humidity:</strong> {{vm.userService.timeSlice.main.humidity}}% </p>
                <p> <strong>Wind Speed:</strong> {{vm.userService.timeSlice.wind.speed}}mph {{vm.userService.timeSlice.wind.deg}} </p>
                <p> <strong>Cloud Cover:</strong> {{vm.userService.timeSlice.clouds.all}}% </p>
                <p> <strong>Visibility:</strong> {{vm.userService.timeSlice.visibility}} miles </p>
            </md-card-content>
        </md-card>

    </md-content>
    
    <md-content flex="80" id="charts">

        <div layout>
            <md-card flex="50">
                <canvas id="temp"></canvas>
            </md-card>
            
            <md-card flex="50">
                <canvas id="pressure"></canvas>
            </md-card>
        </div>
        
        <div layout>
            <md-card flex="50">
                <canvas id="clouds"></canvas>
            </md-card>

            <md-card flex="50">
                <canvas id="windspeed"></canvas>
            </md-card>
        </div>

        

    </md-content>
  

    <!-- <md-card flex-sm="60" flex-md="50" flex-lg="40" flex-xl="30" >
        <md-content layout-lg="column" flex-xs="100" >
            <canvas id="temp"></canvas>
        </md-content>
        <md-content layout-lg="column" flex-xs="100">
            <canvas id="pressure"></canvas>
        </md-content>
        <md-content layout-lg="column" flex-xs="100" >
            <canvas id="clouds"></canvas>
        </md-content>
        <md-content layout-lg="column" flex-xs="100" >
            <canvas id="windspeed"></canvas>
        </md-content>
    </md-card> -->
    
</md-content>
<!-- END row -->




