<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

    <h1 id="welcome" class="lead">Welcome, {{vm.userObject.username}}!</h1>
    <button class="btn btn-default" ng-click="vm.userService.logout()">Log Out</button>

    <h1>Add a zipcode</h1>
    <label for="zipcode">Enter a zipcode you wish to track</label>
    <input type="text" id="zipcode" ng-model="vm.newZip.zipcode">
    <button ng-click="vm.submitZip()">Submit</button>

    <ul>
        <li ng-repeat="zipcode in vm.zipcodes.list">{{zipcode.zipcode}} {{zipcode.weather[0].name}}</li>
    </ul>



</div>