<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

    <!-- <h1 id="welcome" class="lead">Welcome, {{vm.userService.userObject.username}}!</h1> -->
    <!-- <button class="btn btn-default" ng-click="vm.userService.logout()">Log Out</button> -->

    <h2>Add a zipcode</h2>
    <label for="zipcode">Enter a zipcode you wish to track</label>
    <input type="text" id="zipcode" ng-model="vm.userService.newZip.zipcode">
    <button ng-click="vm.userService.submitZip()">Submit</button>

    <h3>Select a location</h3>
    <select ng-model="location" ng-change="vm.getZipData(location)">
        <option ng-repeat="zip in vm.userService.zipcodes.list">{{zip.zipcode}}</option>
    </select>


    <h2>Select a Date</h2>
    <input type="date" ng-model="vm.dateToView">

    <h2>Select a Time</h2>
    <select ng-model="time" ng-change="vm.setTimeData(time)">
        <option  ng-repeat="time in vm.currentZipData.weather" value="{{time.dt}}"> {{time.dt}} </option>
    </select>

    <p> Weather condtitions {{vm.timeSlice.weather[0].description}} </p>
    <p> Temperature {{vm.timeSlice.main.temp}} </p>

    <canvas flex="50" id="weeklyWeatherChart" width="200" height="200"></canvas>

</div>