<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

    <!-- <h1 id="welcome" class="lead">Welcome, {{vm.userService.userObject.username}}!</h1> -->
    <!-- <button class="btn btn-default" ng-click="vm.userService.logout()">Log Out</button> -->

   
    <h1>Spaawe</h1>

    <h3>Select a location</h3>
    <select ng-model="location" ng-change="vm.getZipData(location)">
        <option ng-repeat="zip in vm.userService.zipcodes.list">{{zip.zipcode}}</option>
    </select>


    <h2>Select a Date</h2>
    <div flex-gt-xs>
        <h4>Date-picker with min date and max date</h4>
        <md-datepicker ng-model="vm.myDate" md-placeholder="Enter date" md-min-date="vm.minDate" md-max-date="vm.maxDate"></md-datepicker>
    </div>

    <h2>Select a Time</h2>
    <select ng-model="time" ng-change="vm.setTimeData(time)">
        <option  ng-repeat="time in vm.currentZipData.weather" value="{{time.dt}}"> {{time.dt}} </option>
    </select>

    <p> Weather condtitions {{vm.timeSlice.weather[0].description}} </p>
    <p> Temperature {{vm.timeSlice.main.temp}} </p>

    

    <button ng-click="vm.hi()">Hi</button>

    <canvas flex="50" id="weeklyWeatherChart" width="200" height="100"></canvas>

</div>