

<md-content layout="column" layout-align="center center">

    <md-card layout-padding id="register-form">
        <div layout="column">
            <h1 class="lead">Register User</h1>
            <h1 class="lead alert alert-danger" role="alert" ng-if="vm.message != ''">{{vm.message}}</h2>
        </div>

        <form ng-submit="vm.login()" layout="column">

            <md-input-container layout>
                <label for="username">Username:</label>
                <input type="text" id="username" ng-model="vm.user.username" />
            </md-input-container>

            <md-input-container layout>
                <label for="password">Password:</label>
                <input type="password" id="password" ng-model="vm.user.password" />
            </md-input-container>

            <md-input-container layout>
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" ng-model="vm.user.passwordConfirm">
            </md-input-container>

            <md-input-container layout>
                <label for="firstZipcode">Choose a zipcode to track!</label>
                <input type="text" id="firstZipcode" ng-model="vm.user.firstZipcode.zipcode">
            </md-input-container>

            <md-input-container layout>
                <md-button class="md-raised" type="submit" name="submit">Register</md-button>
                <md-button href="#!login">Cancel</md-button>
            </md-input-container>

        </form>

    </md-card>

</md-content>

